  .main-body {

    background-image: url(../bg.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;

    font-family: 'Fira Code', monospace;
    color: white;
    /* text-align: center;  */

  }

a{

    color: white;
    font-size: 30px;
}